@model List<DeleteProductModel>
<h1>Delete products</h1>

<div class="row" style="margin-top:15px;">
    @foreach (var game in Model)
    {
        <div class="">
            <div class="card" style="width: 18rem; margin-top:15px;">
                <img src="@game.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@game.Tittle</h5>
                    <p class="card-text">@game.Company</p>
                    <p class="card-text">@game.Description</p>
                    <div class="card-bottom">
                        <p class="card-price card-text">@game.Price<span>$</span></p>
                        <form method="post"><input asp-route-Id="@game.Id" class="btn text-white float-right" style="background-color:#FC4445;" formmethod="post" type="submit" value="Delete" /></form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>