@model AllGamesQueryModel


<form method="get">
    <div class="row">
        <div class="form-group float-left" style="color:white;">
            <label class="" style="color:white; font-family:Arial;" asp-for="SelectedCategory"></label>
            <select asp-for="SelectedCategory" class="form-group">
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
        <div class="form-group col-md-3">
            <label style="color:white; font-family:Arial;" asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" placeholder="Search game..." />
        </div>
        <input type="submit" class="brn" style="background-color:white; font-family:Arial; width:6rem; height:2rem; color:slategrey;" value="Search" />
    </div>
    
</form>

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 0)
    {
        previousPage = 0;
    }
}

<div class="row mb-3">

    <div class="col-md-6">
        <a class="btn" style="background-color:white;" asp-controller="Product" asp-action="Platforms" asp-route-currentPage="@previousPage"><<<</a>
    </div>
    <div class="col-md-6">
        <a class="btn float-right" style="background-color:white;" asp-controller="Product" asp-action="Platforms" asp-route-currentPage="@(Model.CurrentPage+1)">>>></a>
    </div>
</div>

<div class="row" style="margin-top:15px;">
    @foreach (var game in Model.Products)
    {
        <div class="">
            <div class="card" style="width: 18rem;">
                <img src="@game.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@game.Tittle</h5>
                    <p class="card-text">@game.Company</p>
                    <p class="card-text">@game.Description</p>
                    <div class="card-bottom">
                        <p class="card-price card-text">@game.Price<span>$</span></p>
                        <a href="#" class="btn btn-primary">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>






