@model IEnumerable<CarShopWebProject.Data.Product>

@{
    ViewData["Title"] = "ManageProducts";
}
<style>   
    th, td 
    {
        color:white;
        
    }
    img{
        width:100%;
        max-height:450px;
    }
    h1{
        color:white;
    }
</style>
<h1>ManageProducts</h1>


<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tittle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tittle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)$
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                <img src="@item.ImageUrl"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
            <td>
                <a class="text-danger font-weight-bold" asp-action="EditProduct" asp-route-id="@item.Id">Edit</a>
                <a class="text-danger font-weight-bold" asp-action="DeleteProduct" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
